* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
nav {
  background-color: black;
  display: inline-flex;
  width: 100%;
  height: 100px;
  align-items: center;
  object-fit: contain;
}
.name,
a {
  color: white;
}
.name {
  font-size: 35px;
  padding-right: 17%;
  padding-left: 5%;
}
.name:hover {
  color: #ed661f;
}

.home,
.about,
.products,
.contact {
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}
.contact {
  padding-right: 125px;
  box-sizing: border-box;
}
.login {
  padding-right: 60px;
  font-size: 18px;
  padding-left: 50px;
  position: relative;
  top: 5px;
  right: -100px;
  font-weight: 500;
}
.getstarted {
  padding: 20px;
  background-color: #ed661f;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  right: -100px;
}

.home:hover {
  border-bottom: #ed661f solid 5px;
}
.about:hover {
  border-bottom: #ed661f solid 5px;
}
.products:hover {
  border-bottom: #ed661f solid 5px;
}
.contact:hover {
  border-bottom: #ed661f solid 5px;
}
.login:hover {
  border-bottom: #ed661f solid 5px;
}
.homebar {
  width: 100%;
  height: 800px;
  background-image: url(../images/image1.png);
  background-position: center;
  border: 2px solid lime;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}
.hometext {
  align-content: center;
  overflow: auto;
  position: relative;
  top: 100px;
  width: 50%;

  left: 100px;
  padding-bottom: -140px;
}
.hometext > h1 {
  font-size: 60px;
}
.hometext > p {
  font-size: large;
}
.explore > button > a {
  padding: 25px;
  background-color: #ed661f;
  color: white;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: 20px;
}
.veg {
  width: 50%;
  position: relative;
  top: 100px;
  height: 500px;
}
.info {
  box-shadow: 0px 3px 4px rgb(128, 128, 128);
  background-color: rgb(245, 230, 230);
  width: 45%;
  height: 150px;
  float: right;
  position: relative;
  top: -70px;
  right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.why > .answer > h3:hover {
  text-decoration: underline solid 5px #ed661f;
}
.why {
  padding-top: 50px;
  padding-left: 80px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.answer {
  width: 40%;
}
.answer > h3 {
  font-size: xx-large;
  font-weight: bold;
}
.answer > p {
  font-size: large;
}
.customercare > img {
  box-sizing: content-box;
  height: 340px;
  width: 450px;
}
.cat {
  text-align: center;
  font-size: large;
}
.cat > h2:hover {
  text-decoration: 7px #ed661f underline;
}
.cat > p {
  padding-top: 20px;
}
.popular > h2 {
  padding-left: 170px;
  padding-bottom: 10px;
}
.popular > h2:hover {
  text-decoration: underline 4px #ed661f;
}
.tiles {
  padding-left: 105px;
  justify-content: space-around;
  display: inline-flex;
  flex-direction: row;
}
.rec > img {
  height: 200px;
  width: 200px;
  margin: 25px 60px;
}
.img4 > img {
  height: 200px;
  width: 200px;
  margin: 25px 60px;
}
.img5 > img {
  height: 200px;
  width: 200px;
  margin: 25px 60px;
}
.img6 > img {
  height: 200px;
  width: 200px;
  margin: 25px 60px;
}
.tiles > h3,
p {
  padding-left: 55px;
}
.tiles > img,
h3 {
  padding-left: 55px;
}
.rec > img:hover {
  box-shadow: 5px 15px 15px grey;
}
.img4 > img:hover {
  box-shadow: 5px 15px 15px grey;
}
.img5 > img:hover {
  box-shadow: 5px 15px 15px grey;
}
.img6 > img:hover {
  box-shadow: 5px 15px 15px grey;
}
.newest > h2 {
  padding-left: 160px;
  padding-top: 20px;
}
.newest > h2:hover {
  text-decoration: underline 5px solid #ed661f;
}
.see {
  float: right;
  padding-right: 170px;
  padding-top: 20px;
  display: inline-flex;
  padding-bottom: 50px;

}
.see > h2:hover {
  text-decoration: underline 4px solid #ed661f;
}

.arrow {
  width: 100px;
  height: 4px;
  color: #ed661f;
  
}
.space {
  background-color: hwb(0 72% 23% / 0.836);
  height: 23px;
  clear: both;
  max-width: 96%;
  position: relative;
  left: 30px;
  right: 20px;
  right: -20px;
  bottom: 30px;
}
.say > h3{
 padding: 30px;
 padding-left: 120px;
 font-size: xx-large;

}
.rating{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.checked{
  color: #ed661f;
 font-size: 20px;
 padding-bottom: 20px;
}
.checkedr{
  color: grey;
  padding-bottom: 20px;
}
.reb, .joe, .lav{
box-shadow: 0px 6px 7px 4px grey ;
width: 20%;
height: 50%;
}
 .dp >img{
  height: 40px;
  }
  .dp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    
  }
  .dp >p{
    font-size: large;
  }